.animation-right{
    position: fixed;
    animation: right .5s ease-in-out forwards;
}

@keyframes right{
    0%{
        opacity: 0;
        transform: translateX(800px);
    }
    50%{
        
        
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}